

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #565656;
    font-family: 'Raleway', sans-serif;
    font-weight: 400
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
  }

  .title-text {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #111111;
  }

  .display-5 {
    font-family: 'Playfair Display', serif;
  }

  .btn-primary {
      background-color: #111111;
      border: 0;
      border-radius: 0;
  }
  .btn-primary:hover {
    background-color: #1a1a1a;
  }
  a {
    color: #111111;
  }
  a:hover {
    color: #1a1a1a;
  }
    
  /* HEADER
  -------------------------------------------------- */
  .nav {
      margin: 10px;
  }
  .nav a {
    color: #111111;
    font-size: .9rem;
  }
  .nav a.active {
      font-weight: bold;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #565656;
  }
  
  /* THE CAROUSEL
  -------------------------------------------------- */
  
  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption h1 {
    font-weight: 200;
  }
  
.carousel-item .img-fluid {
    width:100%;
  }
  
  .carousel-item a {
    display: block;
    width:100%;
  }

  /* FEATURED
  -------------------------------------------------- */
  .featured-bg {
    /* background-image: url("../images/adult-attractive-beautiful_bg.jpg");
    background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    /* background-color: #f7eee0; */
    background-color: #fbf4e8;
  }
    
  /* CONTACT
  -------------------------------------------------- */
  .contact {
    background-color: #f6f6f6;
  }
  .contact .google-map {
    height: 25rem;
    position: relative;
  }
  .contact .google-map iframe {
    height: 100%;
    width: 100%;
  }
  .contact .google-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .contact .google-map[data-state] {
    background: #e9e5dc;
  }
  .contact .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }


  /* GALLERY
  -------------------------------------------------- */

  .gallery-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }
  
  .gallery-box .gallery-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(43, 42, 42, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .gallery-box .gallery-box-caption .gallery-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }

  
  .gallery-box:hover .gallery-box-caption {
    opacity: 1;
  }
  
  .gallery-box:focus {
    outline: none;
  }




  /* PRODUCT HEADER
  -------------------------------------------------- */
  .paral {
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
  }

.product-header {
  background-color: #fbf4e8;
  padding-top: 100px;
  color: #111111;
}

.facial-bg-1 {
  background-image: url("../images/faciales/facial-bg-1.png");
}

.facial-bg-2 {
  background-image: url("../images/faciales/facial-bg-2.png");
}

.facial-bg-3 {
  background-image: url("../images/faciales/facial-bg-3.png");
}

.facial-bg-4 {
  background-image: url("../images/faciales/facial-bg-4.png");
}

.facial-bg-5 {
  background-image: url("../images/faciales/facial-bg-5.png");
}

.facial-bg-6 {
  background-image: url("../images/faciales/facial-bg-6.png");
}
.facial-bg-infini {
  background-image: url("../images/faciales/infini-bg.png");
}

.facial-bg-freeze {
  background-image: url("../images/faciales/venus-freeze-bg.png");
}

.capilar-bg-1 {
  background-image: url("../images/capilares/capilar-bg-1.png");
}

.capilar-bg-2 {
  background-image: url("../images/capilares/capilar-bg-2.png");
}

  /* BACK TO TOP
  -------------------------------------------------- */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top svg {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 10px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover svg {
  color: #fff;
  top: 3px;
}



  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  


